@charset "UTF-8";

h1{
    color: blue;
}

.titulo2{
    color: blueviolet;
}

button{
    background-color: green;
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    margin: 4px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(0, 61, 5);
    color: black;
}

#imagem{
    display: none;
    max-width: 50%; 
    height: auto;   
}

.btnTecla {
    background-color: chartreuse;
    color: black;
}

.btnTecla:hover{
    background-color: rgb(64, 128, 0);
    color: black;
}

.btnTime {
    background-color: aquamarine;
    color: black;
}

.btnTime:hover {
    background-color: rgb(2, 155, 104);
}